/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Grid */
/* Menu */
/* Path */
/* line 1, ../sass/components/_clearfix.scss */
.container-grid:before,
.container-grid:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/components/_clearfix.scss */
.container-grid:after,
.row:after,
.clear:after {
  clear: both;
}

/* line 1, ../sass/components/_grid.scss */
.container-grid {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 11, ../sass/components/_grid.scss */
.container-grid .row {
  position: relative;
}

/* line 17, ../sass/components/_grid.scss */
.container-grid .cols {
  position: relative;
  float: left;
}

/* line 21, ../sass/components/_grid.scss */
.container-grid.border .cols {
  border: 1px solid #ccc;
}

/* MOBILE 0 - $grid-display-mobiles */
/* line 28, ../sass/components/_grid.scss */
.container-grid .cols.col-1,
.container-grid .cols.col-2 {
  width: 50%;
}

/* line 30, ../sass/components/_grid.scss */
.container-grid .cols.col-3,
.container-grid .cols.col-4,
.container-grid .cols.col-5,
.container-grid .cols.col-6,
.container-grid .cols.col-7,
.container-grid .cols.col-8,
.container-grid .cols.col-9,
.container-grid .cols.col-10,
.container-grid .cols.col-11,
.container-grid .cols.col-12 {
  width: 100%;
}

/* TABLETS $grid-display-tablets - $grid-display-pc */
@media (min-width: 768px) {
  /* line 47, ../sass/components/_grid.scss */
  .container-grid .cols.col-1,
  .container-grid .cols.col-2 {
    width: 16.66666666%;
  }

  /* line 49, ../sass/components/_grid.scss */
  .container-grid .cols.col-3 {
    width: 25%;
  }

  /* line 50, ../sass/components/_grid.scss */
  .container-grid .cols.col-4 {
    width: 33.333333333%;
  }

  /* line 51, ../sass/components/_grid.scss */
  .container-grid .cols.col-5 {
    width: 41.666666666%;
  }

  /* line 52, ../sass/components/_grid.scss */
  .container-grid .cols.col-6 {
    width: 50%;
  }

  /* line 53, ../sass/components/_grid.scss */
  .container-grid .cols.col-7 {
    width: 58.333333333%;
  }

  /* line 54, ../sass/components/_grid.scss */
  .container-grid .cols.col-8 {
    width: 66.666666666%;
  }

  /* line 55, ../sass/components/_grid.scss */
  .container-grid .cols.col-9 {
    width: 75%;
  }

  /* line 56, ../sass/components/_grid.scss */
  .container-grid .cols.col-10 {
    width: 83.333333333%;
  }

  /* line 57, ../sass/components/_grid.scss */
  .container-grid .cols.col-11 {
    width: 91.666666666%;
  }

  /* line 58, ../sass/components/_grid.scss */
  .container-grid .cols.col-12 {
    width: 100%;
  }
}
/* PC $grid-display-pc - $grid-display-large*/
@media (min-width: 980px) {
  /* line 65, ../sass/components/_grid.scss */
  .container-grid {
    width: 960px;
  }

  /* line 67, ../sass/components/_grid.scss */
  .container-grid .cols.col-1 {
    width: 8.333333333%;
  }

  /* line 68, ../sass/components/_grid.scss */
  .container-grid .cols.col-2 {
    width: 16.66666666%;
  }

  /* line 69, ../sass/components/_grid.scss */
  .container-grid .cols.col-3 {
    width: 25%;
  }

  /* line 70, ../sass/components/_grid.scss */
  .container-grid .cols.col-4 {
    width: 33.333333333%;
  }

  /* line 71, ../sass/components/_grid.scss */
  .container-grid .cols.col-5 {
    width: 41.666666666%;
  }

  /* line 72, ../sass/components/_grid.scss */
  .container-grid .cols.col-6 {
    width: 50%;
  }

  /* line 73, ../sass/components/_grid.scss */
  .container-grid .cols.col-7 {
    width: 58.333333333%;
  }

  /* line 74, ../sass/components/_grid.scss */
  .container-grid .cols.col-8 {
    width: 66.666666666%;
  }

  /* line 75, ../sass/components/_grid.scss */
  .container-grid .cols.col-9 {
    width: 75%;
  }

  /* line 76, ../sass/components/_grid.scss */
  .container-grid .cols.col-10 {
    width: 83.333333333%;
  }

  /* line 77, ../sass/components/_grid.scss */
  .container-grid .cols.col-11 {
    width: 91.666666666%;
  }

  /* line 78, ../sass/components/_grid.scss */
  .container-grid .cols.col-12 {
    width: 100%;
  }
}
/* LARGE $grid-display-large - xxx */
@media (min-width: 1200px) {
  /* line 85, ../sass/components/_grid.scss */
  .container-grid {
    width: 1170px;
  }
}
/* line 1, ../sass/components/_menu.scss */
.wrap_nav {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/components/_menu.scss */
#touch-menu {
  display: none;
  background: #3e4156;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

/* line 17, ../sass/components/_menu.scss */
#touch-menu:hover {
  background: #515572;
}

/* line 22, ../sass/components/_menu.scss */
.nav {
  display: table-row;
  background: #3e4156;
}

/* LEVEL 1*/
/* line 28, ../sass/components/_menu.scss */
.nav > li {
  display: table-cell;
  float: none;
  position: relative;
}

/* line 33, ../sass/components/_menu.scss */
.nav > li a {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition-property: background, color, border;
  transition-duration: 300ms;
}

/* line 47, ../sass/components/_menu.scss */
.nav > li:hover a {
  background: #515572;
  color: #fff;
}

/* LEVEL 2*/
/* line 55, ../sass/components/_menu.scss */
.nav ul {
  display: block;
  position: absolute;
  background: #515572;
  z-index: 100;
  width: 100%;
  left: 0;
}

/* line 68, ../sass/components/_menu.scss */
.nav ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

/* line 78, ../sass/components/_menu.scss */
.nav > li:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

/* line 128, ../sass/components/_menu.scss */
.nav > li ul li:hover a {
  color: #D35353;
}

@media (max-width: 768px) {
  /* line 134, ../sass/components/_menu.scss */
  .wrap-nav {
    display: block;
  }

  /* line 135, ../sass/components/_menu.scss */
  .nav {
    display: block;
    overflow-y: hidden;
    max-height: 0;
    transition-property: max-height;
    transition-duration: 500ms;
  }

  /* line 142, ../sass/components/_menu.scss */
  .nav.opened {
    max-height: 500px;
    /* approximate max height */
  }

  /* line 149, ../sass/components/_menu.scss */
  #touch-menu {
    display: block;
  }

  /* line 150, ../sass/components/_menu.scss */
  #touch-menu:after {
    content: "";
    background: url("/img/nav-icon.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 2px;
  }

  /* line 161, ../sass/components/_menu.scss */
  .nav > li {
    display: block;
    float: none;
  }

  /* line 166, ../sass/components/_menu.scss */
  .nav > li a {
    background: #fff;
    color: #666;
    border-bottom: 1px solid #eee;
    border-left: 3px solid transparent;
    text-align: left;
  }

  /* line 174, ../sass/components/_menu.scss */
  .nav > li:hover a {
    background: #f0f0f0;
    color: #333;
    border-left: 3px solid #515572;
  }

  /* LEVEL 2*/
  /* line 182, ../sass/components/_menu.scss */
  .nav > li:hover ul {
    display: none;
  }
}
/* Responsive table */
/* line 2, ../sass/components/_table.scss */
table.responsive {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, ../sass/components/_table.scss */
table.responsive tr {
  border: 1px solid #ddd;
  padding: 5px;
}

/* line 16, ../sass/components/_table.scss */
table.responsive th, table.responsive td {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  /* line 21, ../sass/components/_table.scss */
  table.responsive {
    border: 0;
  }

  /* line 23, ../sass/components/_table.scss */
  table.responsive thead {
    display: none;
  }

  /* line 25, ../sass/components/_table.scss */
  table.responsive tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  /* line 31, ../sass/components/_table.scss */
  table.responsive td {
    display: block;
    width: 100% \9;
    float: left\9;
    text-align: right;
    border-bottom: 1px dotted #ccc;
  }

  /* line 39, ../sass/components/_table.scss */
  table.responsive td:last-child {
    border-bottom: 0;
  }

  /* line 41, ../sass/components/_table.scss */
  table.responsive td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* line 15, ../sass/style.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 21, ../sass/style.scss */
body {
  font: 100%/1.5em Arial, Helvetica, sans-serif;
  color: #000;
}

/* line 26, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}
