{% extends "layouts/main.twig" %}

{% block page %}

<header class="header-section">
    <div class="container-grid">
      <div class="row center">
        <div class="cols col-12">
          <h1>Frontend template</h1>
          <p>Simple responsive template from <a href="http://zualex.com/" target="_blank">Zualex<a/></p>
          <p class="button-section">
            <a class="button invisible-xs visible-md" href="https://github.com/zualex32/frontend-template/archive/master.zip">Download</a>
            <a class="button" href="https://github.com/zualex32/frontend-template">Github</a>
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section">
    <div class="container-grid">
      <div class="row">
        <div class="cols col-12">
          <h2>Menu</h2>
        </div>
      </div>
      <div class="row">
        <div class="cols col-12">
          <a href="javascript:void(0);" class="js-touch-menu">Mobile menu</a>

          <nav class="menu">
            <ul class="menu__list js-nav-menu">
              <li class="menu__item">
                <a class="menu__link" href="#Gulp">Gulp</a>
              </li>
              <li>
                <a class="menu__link" href="#">Sass</a>
                <ul class="menu__list">
                  <li class="menu__item">
                    <a class="menu__link" href="#">SCSS</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="#">Variable</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="#">Mixin</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="#">Auto sprite</a>
                  </li>
                </ul>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">ES 6</a>
                <ul class="menu__list">
                  <li class="menu__item">
                    <a class="menu__link" href="#">const</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="#">let</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="#">function</a>
                  </li>
                </ul>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Twig</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">BrowserSync</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Flexibility</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Autoprefixer</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap-nav">
            <ul class="nav js-nav-menu">
              <li><a href="#">Gulp</a></li>
              <li>
                <a href="#">Sass</a>
                <ul>
                  <li><a href="#">SCSS</a></li>
                  <li><a href="#">Variable</a></li>
                  <li><a href="#">Mixin</a></li>
                  <li><a href="#">Auto sprite</a></li>
                </ul>
              </li>
              <li>
                <a href="#">ES 6</a>
                <ul>
                  <li><a href="#">const</a></li>
                  <li><a href="#">let</a></li>
                  <li><a href="#">function</a></li>
                </ul>
              </li>
              <li><a href="#">Twig</a></li>
              <li><a href="#">BrowserSync</a></li>
              <li><a href="#">Flexibility</a></li>
              <li><a href="#">Autoprefixer</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>


  <section class="page-section">
    <div class="container-grid">
      <div class="row">
        <div class="cols col-12">
          <h2>Таблица</h2>
        </div>
      </div>
      <div class="row">
        <table class="responsive">
          <thead>
          <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td data-label="№">1000</td>
            <td data-label="Наименование">Хомяк пушистый</td>
            <td data-label="Кол-во">1</td>
            <td data-label="Цена">999 руб.</td>
            <td data-label="Сумма">999 руб.</td>
          </tr>
          <tr>
            <td data-label="№">1001</td>
            <td data-label="Наименование">Поводок для хомяка</td>
            <td data-label="Кол-во">2</td>
            <td data-label="Цена">350 руб.</td>
            <td data-label="Сумма">700 руб.</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </section>


  <section class="page-section">
    <div class="container-grid">
      <div class="row">
        <div class="cols col-12">
          <h2>Изображения</h2>
          <p>
            В данном примере изначально подгружается маленькая картинка 375x500, далее при помощи media queries для разных размеров экрана подгружаются большие картинки.<br>
            medium.jpg - от 0 до 768px<br>
            large.jpg - от 768px до 1200px<br>
            extralarge.jpg - от 1200px<br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="cols col-6">
          <picture>
            <source srcset="../images/extralarge.jpg" media="(min-width: 1200px)">
            <source srcset="../images/large.jpg" media="(min-width: 768px)">
            <img srcset="../images/medium.jpg" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
          </picture>
        </div>
        <div class="cols col-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, dicta, quas fugit pariatur non similique reiciendis at. Culpa, libero, delectus, blanditiis ut aspernatur numquam voluptatum quas veniam veritatis illum error.
        </div>
      </div>
    </div>
  </section>


  <section class="page-section">
    <div class="container-grid">
      <div class="row">
        <div class="cols col-12">
          <h2>Сетка</h2>
          <p>
            Адаптивная сетка имеет 12 колонок<br>
            Мобильная сетка - от 0 до 768px<br>
            Десктоп - от 768px до 1200px<br>
            Большой десктоп - от 1200px<br>
          </p>
        </div>
      </div>
    </div>
    <div class="container-grid border">
      <div class="row">
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
        <div class="cols col-1">col-1</div>
      </div>
      <div class="row">
        <div class="cols col-2">col-2</div>
        <div class="cols col-2">col-2</div>
        <div class="cols col-2">col-2</div>
        <div class="cols col-2">col-2</div>
        <div class="cols col-2">col-2</div>
        <div class="cols col-2">col-2</div>
      </div>
      <div class="row">
        <div class="cols col-3">col-3</div>
        <div class="cols col-3">col-3</div>
        <div class="cols col-3">col-3</div>
        <div class="cols col-3">col-3</div>
      </div>
      <div class="row">
        <div class="cols col-4">col-4</div>
        <div class="cols col-4">col-4</div>
        <div class="cols col-4">col-4</div>
      </div>
      <div class="row">
        <div class="cols col-5">col-5</div>
        <div class="cols col-5">col-5</div>
        <div class="cols col-2">col-2</div>
      </div>
      <div class="row">
        <div class="cols col-6">col-6</div>
        <div class="cols col-6">col-6</div>
      </div>
      <div class="row">
        <div class="cols col-7">col-7</div>
        <div class="cols col-5">col-5</div>
      </div>
      <div class="row">
        <div class="cols col-8">col-8</div>
        <div class="cols col-4">col-4</div>
      </div>
      <div class="row">
        <div class="cols col-9">col-9</div>
        <div class="cols col-3">col-3</div>
      </div>
      <div class="row">
        <div class="cols col-10">col-10</div>
        <div class="cols col-2">col-2</div>
      </div>
      <div class="row">
        <div class="cols col-11">col-11</div>
        <div class="cols col-1">col-1</div>
      </div>
      <div class="row">
        <div class="cols col-12">col-12</div>
      </div>
    </div>
  </section>
{% endblock %}
