.wrap-nav{
	display:block;
	width:100%;
	margin: 0;
    padding: 0;
	
	ul{
		margin: 0;
		padding: 0;
	}
}

#touch-menu {
	display:block;
	background: $menu-background;
	padding:10px 15px;
	font-weight:bold;
	font-size:14px;
	color: #fff;
	text-decoration:none;
	
	&:hover {
		background: $menu-background-hover;
	}
	
	&:after {
		content:"";
		@include sprite($nav-icon)
		display: inline-block;
		position: absolute;
		right: 15px;
		margin-top: 2px;
	}
}


.nav {
	display:block;
	overflow-y: hidden;
	max-height: 0;
	transition-property: max-height;
	transition-duration: 500ms;
		
	&.opened {
		max-height: 500px;
	}
	
	li {
		display: block;
		
		a{
			display:block;
			padding:10px 15px;
			font-weight:bold;
			font-size:14px;
			background: $menu-background-phone-item;
			color: $menu-color-text-phone-item;
			border-bottom:1px solid #eee;
			border-left:3px solid transparent;
			text-align:left;
			text-decoration:none;
			white-space:nowrap;
			transition-property:background, color, border;
			transition-duration: 300ms;
			
			&:hover{
				background: $menu-background-phone-item-hover;
				color: $menu-color-text-phone-item-hover;
				border-left:3px solid $menu-background-hover;
			}
		}
		
		
		/* LEVEL 2*/
		ul{
			display:none;
		}

	}
}






@media (min-width: $menu-display-phone) {
	.wrap-nav{
		display:table;
	}
	
	#touch-menu {
		display:none;
	}
	
	.nav{
		display: table-row;
		background: $menu-background;
		max-height:auto;
		overflow-y:visible;
		
		&.opened {
			max-height: auto;
		}
			
		li {
			display: table-cell;
			position: relative;
			
			 a {
				background:transparent;
				color: $menu-color-text;
				text-align:center;
				border-bottom:0px;
				border-left:0px;
				
				&:hover{
					background: $menu-background-hover;
					color: $menu-color-text-hover;
					border-left:0px;
				}
				
			}
			
			/* LEVEL 2*/
			ul{
				display:block;
				position:absolute;
				background: $menu-background-hover;
				z-index:100;
				width: 100%;
				left:0;
				
				li{
					display:block;
				}
				a:hover{
					color: $menu-level2-color-text-hover;
				}
			}
		
			@if $menu-type-animation == 'Fold Out' {
				ul{
					max-height:0;
					overflow:hidden;
					-webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
					-webkit-transform-origin:50% 0;
					-webkit-transition:350ms;
					-moz-transition:350ms;
					-o-transition:350ms;
					transition:350ms;
				}
				&:hover ul{
					max-height:1000px;
					-webkit-transform:perspective(400) rotate3d(0,0,0,0);
				}
			}
			
			@if $menu-type-animation == 'Slide Down' {
				ul li{
					overflow:hidden;
					max-height:0;
					transition-property:max-height;
					transition-duration: 500ms;
				}
				
				&:hover ul li{
					max-height:100px;
				}
			}
			
			@if $menu-type-animation == 'Fade In/Out' {
				ul{
					visibility:hidden;
					opacity:0;
					filter:alpha(opacity=0);
					transition:200ms ease;
				}
				&:hover ul{
					visibility:visible;
					opacity:1;
					filter:alpha(opacity=100);
				}
			}
			
			
			@if $menu-type-animation == 'Not Animated' {
				ul{left:-9999em;}
				&:hover ul{left:0;}
			}
			
			
		}
		
	}
}