.container-grid:before,
.container-grid:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.container-grid:after,
.row:after,
.clear:after {
  clear: both;
}
